.taskContainer {
  width: 90%;
  height: auto;
  background-color: rgb(225, 117, 237);
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
}

.taskContainer form {
  height: 100%;
  margin: 1.5rem;
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.taskContainer form input {
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  font-size: 1.25rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
.taskContainer form input:focus {
  border: 1.5px solid greenyellow;
}

.taskContainer form button {
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 0.4px;

  font-weight: 700;

  background-color: white;
  color: #e175ed;
  border: none;
  outline: none;
}

.taskContainer form button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 600px) {
  .taskContainer {
    margin: auto 1%;
    width: 105%;
    margin-bottom: 20px;
  }

  .taskContainer form {
    gap: 1rem;
    margin: 1.25rem;
  }

  .taskContainer form input {
    font-size: 1rem;
    width: 100%;
  }

  .taskContainer form button {
    font-size: 1rem;
  }
}
