.container {
  height: auto;
  margin: auto 5%;
  /* margin-top: 20px; */
  /* background-color: aliceblue; */
  border-radius: 5px;
  /* box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.container h1 {
  text-align: center;
  color: rgba(92, 85, 85, 0.719);
  font-family: "Courier New", Courier, monospace;
  font-size: 2.8rem;
  font-weight: 600;
  text-shadow: 5px 5px lightgray;
}
